html {
  scroll-behavior: smooth;
}

body {
  margin-left: 30px;
  margin-right: 30px;
  margin: auto;
}

.site-header {
  background-image: url(../img/header_photo.webp);
  margin-bottom: 28px;
  text-align: center;
  border-top: 8px solid #7db96f;
  margin-top: 28px;
}

header div {
  background-color: #ffffffdd;
  margin: 30px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 38px;
  padding-right: 38px;
}

header img {
  padding-bottom: 30px;
}

header p {
  color: #7db96f;
  margin: 0px;
}

.button {
  padding: 14px 18px;
  border-radius: 15px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  margin-bottom: 18px;
}

.button-products {
  background-color: #7db96f;
  color: white;
  text-decoration: none;
}

.button-contact {
  background-color: white;
  color: #7db96f;
  margin-bottom: 44px;
  text-decoration: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.presentation {
  padding-left: 38px;
  padding-right: 38px;
  margin-left: 30px;
  margin-right: 30px;
}

.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fruits-container img {
  width: 28px;
  height: auto;
  margin-bottom: 98px;
}

p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
}

.product-section {
  background-color: #7db96f;
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 50px;
}

.article img {
width: 80px;
}

article {
  border-radius: 22px;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 38px;
  padding-bottom: 32px;
  margin-bottom: 44px;
  color: black;
  text-align: left;
  margin-right: 30px;
  margin-left: 30px;
}

article a {
  color: black;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

article h1 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
}

.banana-section {
  background-color: #fcf7d6;
}

.kiwi-section {
  background-color: #d0f1ae;
}


.coffee-section {
  background-color: #cdc4b0;
}


.strawberry-section {
  background-color: #e2a2b1;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  color: #7db96f;
  text-align: center;
  margin-left: 68px;
  margin-right: 68px;
}

.button-site {
  background-color: #7db96f;
  color: white;
  text-decoration: none;
}

.button-instagram {
  background-color: #7db96f;
  color: white;
  text-decoration: none;
}

.button-facebook {
  background-color: #7db96f;
  color: white;
  text-decoration: none;
}

footer h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 26px;
}

footer p {
  font-size: 12px;
  margin-bottom: 40px;
  margin-top: 76px;
}

footer div {
  margin-bottom: 45px;
}

/* font-family: 'Maven Pro', sans-serif; */
/* font-family: 'Quattrocento', serif; */
/* font-family: 'Sriracha', cursive; */