html {
  scroll-behavior: smooth;
}

body {
  margin-left: 30px;
  margin-right: 30px;
  margin: auto;
  max-width: 380px;
}

.site-header {
  background-image: url(../img/header_photo.webp);
  margin-bottom: 28px;
  text-align: center;
  border-top: 8px solid #7db96f;
  margin-top: 28px;
}

header div {
  background-color: #ffffffdd;
  margin: 30px;
  padding-top: 36px;
  padding-bottom: 28px;
  padding-left: 58px;
  padding-right: 58px;
}

header p {
  color: #7db96f;
  margin: 0px;
}

.button {
  padding: 10px 15px;
  border-radius: 15px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.button-products {
  background-color: #7db96f;
  color: white;
  text-decoration: none;
  margin-bottom: 18px;
}

.button-contact {
  background-color: white;
  color: #7db96f;
  margin-bottom: 44px;
  text-decoration: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.presentation {
  padding-left: 38px;
  padding-right: 38px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.presentation h2 {
  margin-top: 96px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fruits-container img {
  width: 28px;
  height: auto;
  margin-bottom: 96px;
}

p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
  margin-bottom: 38px;
}

.product-section h2 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 35px;
}

.product-section {
  background-color: #7db96f;
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 50px;
}

article {
  border-radius: 15px;
  padding: 38px 38px 32px 38px;
  margin: 0 30px 44px 30px;
  text-align: left;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 0 10px #00000075;
}

article h1 {
  font-family: 'Sriracha', cursive;
  font-weight: lighter;
  font-size: 30px;
  margin: 0px;
}

article p {
  color: black;
  opacity: 50%;
  font-family: 'Quattrocento', serif;
  font-weight: lighter;
  margin-bottom: 48px;
}

article a {
  color: black;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.article img {
width: 80px;
}

.banana-section {
  background-color: #fcf7d6;
}

.kiwi-section {
  background-color: #d0f1ae;
}

.coffee-section {
  background-color: #cdc4b0;
}

.strawberry-section {
  background-color: #e2a2b1;
  margin-bottom: 0px;
}











.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
}

footer {
  color: #7db96f;
  text-align: center;
  margin-left: 68px;
  margin-right: 68px;
}

.button-site {
  background-color: #7db96f;
  color: white;
  text-decoration: none;
}

.button-instagram {
  background-color: #7db96f;
  color: white;
  text-decoration: none;
}

.button-facebook {
  background-color: #7db96f;
  color: white;
  text-decoration: none;
}

footer h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 26px;
}

footer p {
  font-size: 12px;
  margin-bottom: 40px;
  margin-top: 76px;
}

footer div {
  margin-bottom: 45px;
}

.kiwi-syrup {
  background-color: #d0f1ae;
  text-align: center;
}

.kiwi-syrup h1 {
  font-family: 'Sriracha', cursive;
}

.kiwi-syrup img {
  width: 100px;
}

.kiwi-syrup p {
  font-size: 16px;
  font-family: 'Quattrocento', serif;
}

.about-kiwis {
  background-color: #7db96f;
  color: white;
  padding-right: 68px;
  padding-left: 68px;
}

.about-kiwis img {
  width: 245px;
}

.other-products {
  background-color: #d0f1ae;
  text-align: center;
}

.article-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.other-products img {
  width: 55px;
}

/* font-family: 'Maven Pro', sans-serif; */
/* font-family: 'Quattrocento', serif; */
/* font-family: 'Sriracha', cursive; */