html {
  scroll-behavior: smooth;
}

body {
  margin-left: 30px;
  margin-right: 30px;
}

.site-header {
  background-image: url(../img/header_photo.webp);
  border-top: 8px, solid, #7db96f;
  padding-top: 28px;
  padding-bottom: 185px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 28px;
  text-align: center;
}

header div {
  background-color: #ffffffdd;
  margin: 30px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 38px;
  padding-right: 38px;
}

header img {
  padding-bottom: 30px;
}

header p {
  color: #7db96f;
  margin: 0px;
}
.button {
  background-color: #7db96f;
  color: white;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  border-radius: 15px;
}

.button a {
  text-decoration: none;
}

.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fruits-container img {
  width: 28px;
  height: auto;
}

p {
  font-family: 'Quattrocento', serif;
  font-size: 16px;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
}

.product-section {
  background-color: #7db96f;
}

.article img {
width: 80px;
}

article a {
  color: black;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 38px;
  padding-bottom: 32px;
}

article h1 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
}
}

.banana-section {
  background-color: #fcf7d6;
}

.kiwi-section {
  background-color: #d0f1ae;
}


.coffee-section {
  background-color: #cdc4b0;
}


.strawberry-section {
  background-color: #e2a2b1;
}



/* font-family: 'Maven Pro', sans-serif; */
/* font-family: 'Quattrocento', serif; */
/* font-family: 'Sriracha', cursive; */